.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}
a > button{
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 6px;
    cursor: pointer;
    background-color: yellow;
}

a > span:hover {
    color: red;
}

a > button:hover{
    transform: scale(112%);
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}